<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"> 

    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script src="js/teaEc.js"></script>
	<script src="js/testor.js"></script>
	
	    <!-- load angular -->



    <!-- jQuery -->
    <script src="js/jquery.js"></script> 

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 

    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

    <script src="js/app.js"></script>

</head>

<body ng-app="myApp" class="atrans">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SLAIT Predict</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="SetForm.html">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container trans" ng-controller="mainCtrl">

        <div class="row">

            <div ng-controller="mainCtrl" class="col-md-4">
                <p class="lead">Sign In</p>
                <form name="userForm" ng-submit="submitForm(userForm.$valid)" class="form-horizontal" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                        <label class="control-label col-md-4">User Name:</label>
                        <div class="col-md-8">
                            <input type="text" name="username" class="form-control" ng-model="username2" ng-minlength="3" ng-maxlength="25" placeholder="Enter Username" required>
							<p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
							<p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
						</div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                        <label class="control-label col-md-4">Password:</label>
                        <div class="col-md-8">
                            <input type="password" name="password" class="form-control" ng-model="password2" placeholder="Enter Password" required>
							<p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Password is Required.</p>
                        </div>
						
                    </div>
                    <div class="text-danger" ng-show="errorOne"><p class="pull-right">Incorrect Username/Password</p><br><br></div>                    
						<button input-type="submit" class="btn btn-success pull-right" ng-disabled="userForm.$invalid">Submit</button>
                        <button ng-click="registerBtn()" class="btn btn-primary pull-right mR10">Register</button>    

                </form>
				
				<br><br>
				
				
            </div>

            <div class="col-md-1"></div>

            
            <div class="col-md-6">

                <div class="thumbnail">
                        <h2 class="text-center text-primary text-uppercase">LeaderBoard</h2>
                    <div class="well btrans">

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <span class="text-success">Users</span>
                                <span class="pull-right text-success">Scores</span>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12 bg-warning">
                                <strong>
                                    <div class="col-md-1">1st</div>
                                    <div class="col-md-11">KramerFan
                                        <span class="pull-right">25</span>
                                    </div>
                                </strong>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <p class="col-md-10"><em>&nbsp;&nbsp;Jason Johnson</p></em>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12 bg-info">
                                <strong>
                                    <div class="col-md-1">2nd</div>AvocadoJuice
                                    <span class="pull-right">23</span>
                                </strong>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <p><em>&nbsp;&nbsp;&nbsp; Freddie Prinze</p></em>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12 bg-info">
                                <strong>
                                    <div class="col-md-1">3rd</div>iHeartCoffee
                                    <span class="pull-right">22</span>
                                </strong>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <p><em>&nbsp;&nbsp;&nbsp; Tom Hanks</p></em>
                            </div>
                        </div>

                        <hr>

                        <div ng-repeat="message in messages | reverse">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>{{message.UserID}}
                                        <span class="pull-right">{{message.Score}}</span>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-1"> </div>
                                    <p><em>&nbsp;&nbsp;&nbsp; {{message.FirstName}} {{message.LastName}}</em></p>
                                <hr>
                                </div>
                            </div>
                        </div>

                    </div>
                    <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                </div>
            </div>

            <div class="col-md-1"></div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
